*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}



.navigation a{
	position: relative;
	font-size: 1.1em;
	color: rgb(244, 64, 100);
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}
.navigation a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	transform-origin: right;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}
.navigation a:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}
.navigation .btnLogin-popup{
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .3s;
}
.navigation .btnLogin-popup:hover{
	background: #fff;
	color: #162938;
}
.wrapper{
	position: relative;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid rgba(255,255,255, .5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0,0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0); 
	transition: transform .5s ease, height .2s ease;
} 
.wrapper.active-popup{
	transform: scale(1);
}
.wrapper.active{
	height: 520px;
	transform: scale(1);
}
.wrapper.form-box {
	width: 100%;
	padding: 40px;
}
.wrapper.form-box.login{
	display: none;
	transform: translateX(-400px);
	transition: transform .18s ease;
}
.wrapper.active.form-box.login{
	transition: none;
}
.wrapper.form-box.register{
	transition: none;
	transform: translateX(400px);
}

.wrapper.active.form-box.register{
	transition: transform .18s ease;
	transform: translateX(0);
}
.wrapper .icon-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	border-bottom-left-radius: 20px;
	background: #162938;
	color: #fff;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1;
}
.form-box h2{
	font-size: 2em;
	color: #fff;
	text-align: center;
}
.input-box{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}
.input-box label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #fff;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
	top: -5px;
}


.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: #fff;
	font-weight: 600;
	padding: 0 35px 0 5px;
}
.input-box .icon{
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: #fff;
	line-height: 57px;
}
.remember-fogot{
	font-size: .9em;
	color:#fff;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}
.remember-fogot label input{
	accent-color: #fff;
	margin-right: 3px;
	justify-content: space-between;
}
.remember-fogot a{
	color: #fff;
	text-decoration: none;
}
.remember-fogot a:hover{
	text-decoration: underline;
}
.btn{
	width: 100%;
	height: 45px;
	background: #162938;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}
.login-register{
	font-size: .9em;
	color: #fff;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}
.login-register p a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}
.login-register p a:hover{
	text-decoration: underline;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
}

nav ul li:hover > a {
  color: #fff;
  background-color: #333;
}

nav ul li ul {
  position: absolute;
  top: 40px;
  left: 0;
  min-width: 200px;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul li {
  position: relative;
}

nav ul li ul li a {
  padding: 10px 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  display: block;
}

nav ul li ul li a:hover {
  background-color: #666;
}


/* footer */
.container{
	max-width: 1170px;
	margin:auto;	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	/* background-color: #24262b; */
    padding: 1px 0px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* display: flex; */
	justify-content: space-between;
	z-index: 99;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
			}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
			}
}
  